<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="empCode">Employee Code</label>
            <input type="text" formControlName="empCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empCode.errors }" />
            <div *ngIf="submitted && f.empCode.errors" class="invalid-feedback">
                <div *ngIf="f.empCode.errors.required">Employee code is required</div>
            </div>
        </div>
       
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="empFirstName">Employee First Name</label>
            <input type="text" formControlName="empFirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empFirstName.errors }" />
            <div *ngIf="submitted && f.empFirstName.errors" class="invalid-feedback">
                <div *ngIf="f.empFirstName.errors.required">Employee First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="empLastName">Employee Last Name</label>
            <input type="text" formControlName="empLastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empLastName.errors }" />
            <div *ngIf="submitted && f.empLastName.errors" class="invalid-feedback">
                <div *ngIf="f.empLastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row" *ngIf="isAddMode">
        <div class="form-group col">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Password
                <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/employees" class="btn btn-link">Cancel</a>
    </div>
</form>